:root{
  --bordo: #992702;
  --cian: #3c7d72;
  --naranja: #d44a24;
  --beige: #fff4cf;
  --mostaza: #ffae00;
  --negro: #050103;
  --marron: #5c3424;
  --cian: #74ab94;
  --salmon: #f28d6c;
  --beige: #f5dfa8;
  --mostaza: #f3cc74;
}

@font-face {
  font-family: 'nostalgic';
  src: url(../fonts/NostalgicRetro.otf);
}

@font-face {
  font-family: 'westernRetro';
  src: url(../fonts/WesternRetro.ttf);
}

.navbar-brand {
  color: #5c3424 !important;
  font-size: 40px;
}


.navbar {
  background-color: var(--salmon);
  font-family: 'westernRetro';
}

body {
  background-color: var(--beige);
  padding-top: 115px;
}

.nav-item {
  transition: all;

}

.nav-item:hover {
  background-color: #c16446;
  padding: 0;
}

img {
  height: 100px;
  padding: 10px;
}

.links a{
  font-size: 15px;
}

.iconos a{
  font-size: 20px;
}

footer{
  background-color: #f28d6c;
}

.nav-link{
  font-size:  20px;
}

@media (max-width: 600px) {
  .nav-link {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .nav-item:hover {
    padding: 0 100%;
  }
}
.img-fluid{
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-color: red;
}

.img-border1{
  border: 3.5px solid;
  border-color: #fcac04;
}

.img-border2{
  border: 3.5px solid;
  border-color: #3c7c74;
}

.img-border3{
  border: 3.5px solid;
  border-color: #e89874;
}