:root {
  --marron: #5c3424;
  --cian: #74ab94;
  --salmon: #f28d6c;
  --beige: #f5dfa8;
  --beigeoscuro: #ffefca;
  --mostaza: #f3cc74;
  --verde: #1a4d2e;
  --violeta:  #B784B7;
}

@font-face {
  font-family: 'nostalgic';
  src: url(../fonts/NostalgicRetro.otf);
}

@font-face {
  font-family: 'westernRetro';
  src: url(../fonts/WesternRetro.ttf);
}

a {
  color: #5c3424 !important;
  font-size: 40px;
}

.navbar {
  background-color: var(--salmon);
  font-family: 'westernRetro';
}

body {
  background-color: var(--beige);
  padding-top: 115px;
}

.nav-item {
  transition: all;
}

.nav-item:hover {
  background-color: #c16446;
  width: fit-content;
}
.nav-link{
  font-size: 20px;
}
@media(max-width: 600px){
  .nav-link{
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .nav-item:hover {
    padding: 0 100%;
  }
}

.links a{
  font-size: 15px;
}

.iconos a{
  font-size: 20px;
}

footer{
  background-color: #f28d6c;
}
  .card-img-top{
    border-radius: 50px;
    padding: 20px;
  }
.card{
    border-radius: 30px;
    background-color: var(--beigeoscuro);
    transition: transform 0.3s ease;
}
.card:hover{
  transform: scale(1.07);
}
.card-img-top{
  height: 250px;
  width: 250px;
}
.card-text{
  font-style: italic;
}
.borde1{
  border: 2px solid;
  border-color: #74ab94;
}
.borde2{
  border: 2px solid;
  border-color: var(--verde);
}
.borde3{
  border: 2px solid;
  border-color: var(--violeta);
}
  .card-body{
    padding: 25px;
    margin-top: -15px;
    gap: 100px;
  }

.retrocamIcon{
  height: 100px;
  padding: 10px;
}