*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --marron: #5c3424;
    --cian: #74ab94;
    --salmon: #f28d6c;
    --beige: #f5dfa8;
    --mostaza: #f3cc74;
  }
  
  @font-face {
    font-family: 'nostalgic' ;
    src: url(../fonts/NostalgicRetro.otf);
  }
  
  
  .navbar{
    background-color: #f28d6c;
    font-family: "nostalgic";
  }
  
  body{
    background-color: var(--beige);
  }
  
  .nav-item{
    transition: all;
    padding: 10px;
  }
  
  .nav-item:hover{
    background-color: #c16446;
    padding: 10px;
    width: fit-content;
  }
  .card-img-top{
    border-radius: 50px;
    padding: 20px;
  }
  .card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.col{
  justify-content: center;
}
  .card-body{
    padding: 25px;
    margin-top: 15px;
    gap: 100px;
  }