:root{
  --bordo: #992702;
  --cian: #3c7d72;
  --naranja: #d44a24;
  --beige: #fff4cf;
  --mostaza: #ffae00;
  --negro: #050103;
}

@font-face {
  font-family: 'nostalgic' ;
  src: url(../styles/fonts/NostalgicRetro.otf);
}


.navbar{
  background-color: var(--naranja);
  font-family: "nostalgic";
}

body{
  background-color: var(--beige);
}

.nav-item{
  transition: all;
  padding: 10px;
}

.nav-item:hover{
  background-color: #c16446;
  padding: 10px;
  width: fit-content;
}