:root{
  --bordo: #992702;
  --cian: #3c7d72;
  --naranja: #d44a24;
  --beige: #fff4cf;
  --mostaza: #ffae00;
  --negro: #050103;
}

@font-face {
  font-family: 'nostalgic' ;
  src: url(../fonts/NostalgicRetro.otf);
}

@font-face {
  font-family: 'westernRetro';
  src: url(../fonts/WesternRetro.ttf);
}

a{
  color: #5c3424 !important; 
  font-size: 40px;
}

.navbar{
<<<<<<< HEAD:assets/style/plantillacss.css
  background-color: var(--salmon);
  font-family: 'westernRetro';
=======
  background-color: var(--naranja);
  font-family: "nostalgic";
>>>>>>> origin/devAmarilla:assets/style/paleta.css
}

body{
  background-color: var(--beige);
}

.nav-item{
  transition: all;
  padding: 10px;
}

.nav-item:hover{
  background-color: #c16446;
  padding: 10px;
  width: fit-content;
}

img{
  height: 100px;
  padding: 10px;
}